{% extends "layout.html" %}
{% block title %}{{ notebook.title }} | {{ super() }}{% endblock %}
{% block content %}
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/richleland/pygments-css/master/friendly.css" />
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<style type="text/css">
 .cell .input, .cell .output_area { display: flex; flex-wrap: nowrap; }
 .cell .prompt { flex-basis: 70px; min-width: 70px; text-align: right; padding-right: 10px; font-family: monospace; }
 .cell .inner_cell { flex-basis: auto; width: 100%; }
 .cell .output_html { width: auto; }

 .cell .input .prompt { color: #303F9F; }
 .cell .output_area .prompt { color: #D84315; }
 .cell .output_svg svg { max-width: 100%; }

 .celltag_hidden { display: none; }
 .celltag_input_hidden > .input { display: none; }
 .celltag_output_hidden > .output_wrapper { display: none; }
 .notebook {
   padding: 20px;
 }
 #disqus_thread { margin: 20px; }
</style>
<a class="header" href="{{ notebook.path }}">
  <img src="{{ notebook.cover }}" alt="{{ notebook.title }}" />
  <div class="container">
    <div class="title">{{ notebook.title }} ({{ notebook.date.strftime('%Y-%m-%d') }})</div>
  </div>
</a>
<div class="notebook">
  <div class="container">
    {{ notebook.html | safe }}
  </div>
  <script>
   // HACK: table CSS fix for pandas
   $('table').addClass('table').addClass('table-sm').addClass('table-striped').addClass('table-hover');
   $('table thead').addClass('thead-light');
  </script>
</div>
<!-- Disqus -->
<div class="container">
  <div id="disqus_thread"></div>
</div>
<script>

 /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
 /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
  */
 (function() { // DON'T EDIT BELOW THIS LINE
   var d = document, s = d.createElement('script');
   s.src = 'https://stewartpark.disqus.com/embed.js';
   s.setAttribute('data-timestamp', +new Date());
   (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
